@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');


img{
    width:100%;
}

div nav {
    box-sizing: border-box;
}

.container{
background-color:white;
margin-bottom:30px;
Margin-left:150px;
box-sizing: content-box;
width: 80%;
align-self: center;
}

.row{
    box-sizing: content-box;
    width: 100%;
}

#nameHeader{
    font-family: 'Noto Sans', sans-serif;
    background-color:#2980b9;
    color:white;
    font-size:25px;
    height:45px;
    float: left;
    position:relative;
    top:9px;
    padding-top:10px;
}
#menuHeader{
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    float:left;
    position:relative;
    left:600px;
    top:52px;;
    color:#2980b9;
}

nav {
    height: 64px;
    width: 960px;
    margin-left:150px;   
}

a:hover{
    background-color: gray;
}

.navLinks{
        margin: 10px 10px 0 px 10px;
        text-decoration-style: none;
}

#grad {
    background-color: #7f8c8d;
    border-top:2px gray solid;   
    
}
#aboutMe {
    font-family: 'Noto Sans', sans-serif;
    
    border-bottom:2px #2980b9 solid;
    font-size:30px;
    color:#2980b9;
    margin:20px;
    padding:20px;
}

.imageContainer {
    clear:both;
    float:left;
    height:150;
    margin-left:10px;
    width:100%;
}

.narrative {
    float:right;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    margin-left:10px;
    position: relative;
}
.narrativeTwo {
    float:left;
    Margin:10px 30px 10px 30px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    position: relative;
}

.footer{
    border-top: 4px #2980b9 solid;
    height:40px;
    background-color: #2e4053;
    clear: both;

}


.portfolio{
    width:875px;
    margin-top: 30px;
}


.gallery {
    margin: 20px 75px 20px 100px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
    
    
    
  }
  
.desc {
    font-family: 'Noto Sans', sans-serif;
    padding: 15px;
    text-align: center;
    background-color:#2980b9; 
    position:absolute;
    bottom:10px;
    backface-visibility: 50%;
      }

input{
    width: 80%;
    padding: 12px 20px;
    margin:5px 10px 20px 40px;
    box-sizing: border-box;
    border: 2px solid #7f8c8d;
    border-radius: 4px;
    clear:both;
        
}

.form{
   
    font-family: 'Noto Sans', sans-serif;

}
textarea{
    margin:5px 10px 20px 40px;
    width:80%;
    height:250px;
    box-sizing: border-box;
    border: 2px solid #7f8c8d;
    border-radius: 4px;
    resize: none;
}

input[type=submit]{
    background-color: #2980b9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin:5px 10px 20px 40px;
    cursor: pointer;
    width:20%;
}
.gallery2{
    position:relative;
    clear:both;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
 p{
     position:absolute:
 }